@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 207 88% 94%;
    --foreground: 220 9% 26%;
    --card: 207 88% 99%;
    --card-foreground: 220 9% 26%;
    --popover: 207 88% 99%;
    --popover-foreground: 220 9% 26%;
    --primary: 207 98% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 207 79% 88%;
    --secondary-foreground: 207 98% 48%;
    --muted: 207 79% 88%;
    --muted-foreground: 220 9% 46%;
    --accent: 207 79% 77%;
    --accent-foreground: 207 98% 48%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 79% 85%;
    --input: 207 79% 85%;
    --ring: 207 98% 48%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 98% 48%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 207 79% 77%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 207 98% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
